<launch>
  <rosparam file="$(find uav_guide)/config/uav_guide.yaml" command="load" ns="uav_guide"/>

  <include file="$(find beam_dubins)/launch/planner.launch"/>
  <rosparam file="$(find beam_dubins)/config/beam_dubins.yaml" command="load" ns="beam_dubins"/>

  <rosparam file="$(find ros_mqtt_bridge)/config/mqtt_bridge.yaml" command="load"/>

  <node pkg="uav_guide" type="uav_guide_mock_state.py" name="uav_guide_mock_state" output="screen">
    <param name="rate_hz" value="2.0"/>
  </node>

  <node pkg="uav_guide" type="uav_guide_loop_node.py" name="uav_guide_loop" output="screen">
    <rosparam file="$(find uav_guide)/config/uav_guide.yaml" command="load"/>
  </node>

  <node pkg="uav_guide" type="uav_guide_point_node.py" name="uav_guide_point" output="screen">
    <rosparam file="$(find uav_guide)/config/uav_guide.yaml" command="load"/>
  </node>
</launch>
