<launch>
    <include file="$(find beam_dubins)/launch/planner.launch"/>
    <rosparam file="$(find uav_guide_env)/config/uav_dynamics.yaml" command="load" ns="uav"/>
    <rosparam file="$(find uav_guide_env)/config/scenario.yaml" command="load" ns="scenario"/>
    <rosparam ns="space" param="lx">10000.0</rosparam>
    <rosparam ns="space" param="ly">5000.0</rosparam>
    <rosparam ns="space" param="lz">1000.0</rosparam>
    <rosparam ns="space" param="boundary_margin">50.0</rosparam>
    <rosparam ns="simulation" param="dt">0.1</rosparam>
    <rosparam ns="simulation" param="plan_interval">2</rosparam>
    <include file="$(find ros_mqtt_bridge)/launch/mqtt_bridge.launch"/>
    <node name="sitl_loop" pkg="uav_guide_env" type="sitl_loop" output="screen"/>
</launch>